*{
    margin: 0;
    padding: 0;
    color:darkblue;
    
}
.nav-main{
    display:flex;
    position: relative;
    
}
.nav-left{
    display:flex;
    font-family: 'Oswald', sans-serif;
    margin-left: 20px;
    gap: 10px;
}
.nav-left-1{
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}
.nav-left-2{
    margin-top: 22px;
}
.nav-left-1-1{
    font-weight: bold;
    font-size: 40px;
}
.nav-right{
    display:flex;
    font-family: 'Oswald', sans-serif;
    gap:100px;
    position: absolute;
    right:20px;
    margin-top: 22px;
}
.nav-right-1 ul{
    display:flex;
}
.nav-right-1 ul li a:hover{
    color:blueviolet;
}
.nav-right-1 ul li{
    margin-left:50px;
    list-style: none;
    
}
.nav-right-1 ul li a{
    text-decoration: none;
    font-weight: bold;

}
.nav-right-2{
    border:none;
    background-color: white;
    font-size: 18px;
    color:darkblue;
    font-weight: bold;
}
.nav-right-2:hover{
    color:blueviolet;
}
.active{
    color:blueviolet;
    
}
